﻿@model IEnumerable<FeaturedProduct>
<div class="row">
    @foreach (var item in Model)
        {
        <div class="col-sm-3">
            <div style="width:100%;border:ridge;float:left; height: 180px; color: #fff; background: #003e63; text-align: center; padding: 60px 0;">

                <div width: 100%; float: left; font-size: 22px; margin-bottom: 5px;>  @Html.DisplayFor(modelItem => item.Header)</div>
                <div width: 100%; float: left; font-size: 20px; font-weight: bold;>
                    From   @Html.DisplayFor(modelItem => item.price)
                </div>
            </div>
            <div style="float: left; width: 100%; margin-top: 20px; color: #797979; font-size: 17px; line-height: 22px; padding: 0 20px;">
                @Html.DisplayFor(modelItem => item.Description)
            </div>
            <a href="Product-Detail.html" style="width: 190px; float: left; height: 50px; background: #091e45; border: 1px solid #091e45; cursor: pointer; text-transform: uppercase; color: #fff !important; text-align: center; font-size: 18px; font-weight: 600; padding: 12px 0; margin: 50px calc((100% - 190px) /2 ) 25px; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; position: relative; user-select: none; text-decoration: none !important; ">View More</a>
        </div>
    }
</div>
