﻿@model CPromotionAndFProductViewModel
<h2>Featured Products</h2>
@{Html.RenderPartial("FeaturedProduct", Model.FeaturedProduct);}
<h2>Current Promtion</h2>
@{Html.RenderPartial("CurrentPromotion", Model.CurrentPromotion);}
